@page "/all-bestsellers"
@using Manero_Customer.Services
@using Manero_Customer.Data.Models
@inject ProductService productService

<div class="all-bestsellers">
    <h3>All Bestsellers</h3>
    <div class="bestsellerContainer">
        @foreach (var item in bestsellers)
        {
            <div class="bCard">
                <a href="@($"/product/{item.Title.Replace(" ", "%20")}")">
                    <_ShopProductCard Id="@item.Id"
                                      ImageUrl="@item.ImageUrl"
                                      Title="@item.Title"
                                      Price="@item.Price"
                                      DiscountPrice="@item.DiscountPrice"
                                      Rating="@item.Rating"
                                      OnSale="@item.OnSale" />
                </a>
            </div>
        }
    </div>
</div>

@code {
    private List<ProductModel> bestsellers = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var filters = new Dictionary<string, string>
            {
                { "BestSeller", "true" }
            };
            bestsellers = await productService.FilterProduct(filters);
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error fetching product data: {ex.Message}");
        }
    }
}
