@inject ProductService productService
@inject HttpClient Http;

@page "/products/{subcategory}"
@using Manero_Customer.Data.Models
@using Manero_Customer.Services
@using Manero_Customer.Components.SubComponents


<div class="container">
    <div class="shop">
        <h3>@SubCategory</h3>

        <div class="productContainer">
            @foreach (var item in ProductItems)
            {
                <_ShopProductCard 
                    ImageUrl="@item.ImageUrl"
                    Title="@item.Title"
                    Price="@item.Price"
                    DiscountPrice="@item.DiscountPrice"
                    />
            
            }
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string? SubCategory { get; set; }

    List<ProductModel> ProductItems = new();
    protected override async Task OnInitializedAsync()
    {
        List<ProductModel> products = new();
        try
        {
            products = await productService.GetProducts();

            foreach (var product in products)
            {
                if (product.SubCategory == SubCategory)
                {
                    ProductItems.Add(product);
                }
                else
                {
                    if (product.SubCategory != null)
                    {
                        continue;
                    }
                }
            }
            
        }
        catch (Exception ex)
        {
            // Logga felet eller visa ett felmeddelande
            Console.Error.WriteLine($"Fel vid hämtning av produktdata: {ex.Message}");
        }
    }
}
